<div class="board">
  <div class="column" id="task-column">
    <h3>Task <button>+</button> <i class="fa fa-pencil"></i> <i class="fa fa-thumb-tack"></i></h3>
    <!-- Task тизме -->
  </div>
  <div class="column" id="in-progress-column">
    <h3>In Progress <button>+</button> <i class="fa fa-pencil"></i> <i class="fa fa-thumb-tack"></i></h3>
    <!-- In Progress тизме -->
  </div>
  <div class="column" id="done-column">
    <h3>Done <button>+</button> <i class="fa fa-pencil"></i> <i class="fa fa-thumb-tack"></i></h3>
    <!-- Done тизме -->
  </div>
</div>
